@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: "Archivo", sans-serif;
    letter-spacing: 0.8px;
    color: #2c2f30;
}

/* Headings and logo */

h1,
h2 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    color: #212324;
}

h2 {
    font-size: 200%;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 20px;
}

/* Top navigation links */

#menu {
    float: right;
    font-size: 110%;
}

#menu,
#logo {
    line-height: 70px;
}

#menu>li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

header a {
    text-decoration: none;
    color: #212324;
}

#menu a:hover {
    border-bottom: 1px solid #212324;
}

/* Hero image & text */

#hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
    clear: both;
}

#hero-text,
#hero-text h2 {
    color: white;
}

#hero-text h2 {
    font-size: 280%;
}

#hero-text h3 {
    padding-top: 10px;
    font-size: 120%;
}

#hero-image {
    height: 600px;
    background: url("../images/hero-image.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-text {
    font-family: "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    color: white;

    width: 490px;
    height: 300px;

    padding: 30px 20px;

    background-color: rgba(33, 35, 36, .7);
    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;

    position: absolute;
}

#hero-text span {
    display: block;
}

#hero-h3-shortcuts-and-commands {
    font-size: 130%;
    margin: 2px 0 13px;

}

#hero-h3-code-institutes {
    font-size: 130%;
    margin: 2px 0 2px;
}

#hero-h3-diploma-in {
    font-size: 100%;
    margin-top: 15px;
}

#hero-h3-full-stack-development {
    font-size: 130%;
    margin-top: 1px;
}

.white {
    color: white;
}

.blue {
    color:#acc5eb;
}

#hero-h3 {
    display: block;
}

/* About section */

#about-section {
    height: 240px;
}

#lets-do-this {
    text-align: center;
    margin: 35px 0;
}

#about-headings-outer {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#about-headings-outer h2 {
    font-size: 150%;
}

#left-about-heading {
    float: left;
    width: 50%;
    line-height: 22px;
    padding-bottom: 20px;
}

#right-about-heading {
    float: right;
    width: 50%;
    line-height: 22px;
    padding-bottom: 20px;
}

#left-about-heading p,
#right-about-heading p {
    width: 240px;
    margin: 0 auto;
    padding-top: 10px;
}

#about-headings-outer i {
    font-size: 150%;
    padding-bottom: 10px;
}

/* Mid-page content navigation */

#content-navigation-section {
    min-height: 320px;
    background-color: #D3D3D3;
    clear: both;
}

#shortcuts-and-commands {
    text-align: center;
    padding-top: 30px;
}

#content-navigation-section h3 {
    text-align: center;
    font-size: 120%;
    padding: 20px 0 10px;
}

#module-navigation {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#module-navigation div {
    text-align: center;
    font-size: 120%;
    min-width: 280px;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 0;
}

#selected-module-navigation {
    background-color: #9BBAE8;
    border-color: #363636;
}

.disabeled-module-navigation {
    background-color: #e6e6e6;
    border-color: #9b9a9a;
    color: #7a7979;
}

.coming-soon {
    font-size: 80%;
}

#topic-navigation {
    width: 80%;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#topic-navigation div {
    text-align: center;
    font-size: 120%;
    min-width: 280px;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    padding: 5px 10px;
    clear: both;
}

#topic-navigation a {
    text-decoration: none;
    color: #2c2f30;
    margin: 5px 0;
}

#topic-navigation a:hover {
    background-color: #9BBAE8;
}

/* Topic content section */

.hyphen {
    hyphens: auto;
}

/* Emmet section */

#emmet-section {
    min-height: 430px;
}

#emmet-section h2 {
    text-align: center;
    margin: 35px 20px;
}

#emmet-section h3 {
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    letter-spacing: 2px;
    color: #212324;
    margin-bottom: 10px;
}

#emmet-section p {
    line-height: 22px;
    padding-right: 10px;
}

#emmet-introduction-content {
    margin: 0 auto;
    max-width: 840px;
    max-height: 200px;
}

#emmet-introduction-content div {
    display: inline-block;
}

#emmet-text-outer {
    width: 40%;
    min-height: 150px;
    float: left;
}

#emmet-video-snippet-container {
    width: 60%;
    min-height: 150px;
    float: right;
}

#emmet-video-snippet-container video {
    max-width: 100%;
}

/* Emmet table */

#emmet-table-section {
    margin: 0 auto;
    max-width: 840px;
    clear: both;
    padding-top: 20px;
}

table {
    width: 100%;
    border: none;
    margin-bottom: 35px;
}

th,
tr {
    text-align: left;
    line-height: 22px;
}

th {
    line-height: 140%;
    background-color: #D3D3D3;
    padding: 3px 5px;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

td {
    padding: 3px 5px;
}

hr {
    border-top: 1px solid #212324;
    margin: 20px 0;
}

/* Cli section */

#cli-section {
    min-height: 430px;
    margin-top: 35px;
}

#cli-section h3 {
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    letter-spacing: 2px;
    color: #212324;
    margin-bottom: 10px;
    padding-right: 20px;
}

#cli-section p {
    line-height: 22px;
    padding-right: 20px;
}

#cli-introduction-content {
    margin: 0 auto;
    max-width: 840px;
    max-height: 200px;
}

#cli-introduction-content div {
    display: inline-block;
}

#cli-text-outer {
    width: 40%;
    min-height: 150px;
    float: left;
}

#cli-video-snippet-container {
    width: 60%;
    min-height: 150px;
    float: right;
}

#cli-video-snippet-container video {
    width: 100%;
}

#cli-table-section {
    margin: 0 auto;
    max-width: 840px;
    clear: both;
    padding-top: 20px;
}

/* Contribute form */

#contribute-section {
    min-height: 630px;
    background-color: #acc2e4;
}

#contribute-section p {
    padding: 5px 0 15px;
}

#contribute-section h3 {
    padding: 15px 0 20px;
    font-size: 130%;
}

#contribute-section form {
    margin: 0 auto;
    max-width: 400px;
    padding: 30px 0;
    text-align: center;
}

#contribute-section input[type=text],
#contribute-section input[type=email] {
    width: 100%;
    height: 32px;
    margin: 5px 0 15px;
    border-radius: 3px;
    background: rgba(255, 255, 255, .5);
    text-indent: 10px;
}

#contribute-section input[type=text]:hover,
#contribute-section input[type=email]:hover {
    height: 26px;
    border: 3px solid #3373d3;
}

#contribute-section input[type=submit] {
    display: block;
    margin: 22px auto 0;
    color: white;
    background: #3373d3;
    padding: 12px 24px;
    border-radius: 3px;
    font-size: 130%;
}

#contribute-section input[type=submit]:hover {
    background: rgba(255, 255, 255, .8);
    border: 3px solid #3373d3;
    padding: 9px 21px;
    color: #212324;
}

#contribute-section input[type=radio] {
    background: rgba(255, 255, 255, .5);
    margin-right: 10px;
}

#contribute-section label[for=student-yes],
#contribute-section label[for=student-no] {
    margin-left: 10px;
}

/* Get in touch footer */

#get-in-touch {
    height: 250px;
    background-color: #3a3939;
    color: whitesmoke;
    text-align: center;
}

#get-in-touch h2 {
    color: whitesmoke;
    padding: 30px 0 15px;
}

#get-in-touch h3 {
    line-height: 26px;
    padding: 0 10px;
}

#get-in-touch h4 {
    font-size: 120%;
    padding: 15px 0 15px;
}

#get-in-touch li {
    display: inline;
}

#get-in-touch i {
    color: whitesmoke;
    font-size: 200%;
    padding: 0 43px;
}

/* Media queries */

/* Screens 1162px wide and below */
@media (max-width: 1162px) {
    #content-navigation-section {
        height: 340px;
    }
}

/* Screens 910px wide and below */
@media screen and (max-width: 910px) {

    #emmet-introduction-content,
    #cli-introduction-content {
        margin: 0 auto;
        max-width: 590px;
        max-height: 500px;
    }

    #emmet-text-outer,
    #emmet-video-snippet-container,
    #cli-text-outer,
    #cli-video-snippet-container {
        float: none;
        width: 100%;
    }

    #emmet-text-outer {
        min-height: 105px;
        padding-bottom: 20px;
    }

    #emmet-text-outer p, #cli-text-outer p, {
        padding-right: 0;
    }

    #emmet-table-section,
    #cli-table-section {
        max-width: 590px;
    }

    /* Column with first column in table */
    #col-1 {
        width: 100px;
    }
}

/* Screens 880px wide and below */
@media screen and (max-width: 880px) {
    #logo {
        float: none;
        text-align: center;
        margin-top: 5px;
        margin-left: 0;
        line-height: 60px;
    }

    #menu {
        float: none;
        line-height: 35px;
        font-size: 110%;
        margin-bottom: 15px;
    }

    #menu>li {
        float: none;
        text-align: center;
        margin-right: 0;
    }

    #lets-do-this {
        margin: 30px 0;
    }

    #about-section {
        height: 385px;
    }

    #left-about-heading,
    #right-about-heading {
        float: none;
        margin: 0 auto;
        min-width: 242px;
    }

    #right-about-heading {
        padding-top: 10px;
    }
}

/* Screens 779px wide and below */
@media screen and (max-width: 779px) {
    #content-navigation-section {
        height: 437px;
    }
}

/* Screens 660px wide and below */
@media screen and (max-width: 660px) {

    #emmet-introduction-content,
    #cli-introduction-content,
    #emmet-table-section,
    #cli-table-section {
        margin: 0 20px;
    }

    #hero-text {
        height: auto;
        width: 384px;
    }

    #hero-text h2 {
        font-size: 220%;
    }

    #hero-text h3 {
        font-size: 140%;
    }
}

/* Screens 592px wide and below */
@media screen and (max-width: 592px) {
    #get-in-touch {
        height: 280px;
    }
}

/* Screens 545px wide and below */
@media screen and (max-width: 545px) {
    #emmet-section {
        min-height: 380px;
    }

    #emmet-video-snippet-container,
    #cli-video-snippet-container {
        height: 0;
        min-height: 0;
        width: 100%;
        padding-top: 10px;
    }

    #emmet-text-outer {
        padding-bottom: 0;
    }

    #emmet-table-section,
    #cli-table-section {
        padding-top: 10px;
    }
}

/* Screens 452px wide and below */
@media screen and (max-width: 452px) {
    h2 {
        font-size: 165%;
    }

    #hero-text {
        width: 360px;
    }

    #hero-text h2 {
        font-size: 200%;
    }

    #hero-text h3 {
        font-size: 100%;
    }

    #contribute-section form {
        margin: 0 20px;
    }

    #contribute-section h3 {
        line-height: 26px;
    }
}

/* Screens 420px wide and below */
@media screen and (max-width: 420px) {
    #about-headings-outer {
        width: 100%;
    }
}

/* Screens 400px wide and below */
@media screen and (max-width: 400px) {
    #logo {
        font-size: 160%;
        line-height: 60px;
    }

    h2 {
        font-size: 150%;
    }

    #hero-outer {
        height: 380px;
    }

    #hero-image {
        height: 390px;
    }

    #hero-text {
        width: 320px;
        height: 227px;

        top: 45%;
    }
 
    #hero-text h2 {
        font-size: 170%;
    }

    #about-section {
        height:392;
    }

    #about-headings-outer h2,
    #emmet-section h3,
    #cli-section h3 {
        font-size: 120%;
    }

    #shortcuts-and-commands {
        margin: 0 20px;
    }

    #module-navigation div,
    #topic-navigation div {
        padding: 5px 0;
        font-size: 110%;
    }

    table {
        font-size: 85%;
    }

    #get-in-touch h3 {
        font-size: 110%;
    }
}