@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Archivo", sans-serif;
    letter-spacing: 0.8px;
    color: #2c2f30;
}

/* Headings and logo */

h1, h2 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    color: #212324;
}


#logo {
    float: left;
/* font-size not working */
    font-size: 200%;
    margin-left: 20px;
}

/* Top navigation links */

#menu {
    float: right;
/* font-size working */
    font-size: 110%;
}

#menu, #logo {
    line-height: 70px;
}

#menu > li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #212324;
}

#menu a:hover {
    border-bottom: 1px solid #212324;
}

/* Hero image & text */

#hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
    clear: both;
}

#hero-text, #hero-text h2 {
    color: white;
}

#hero-text h2 {
    font-size: 220%;
}

#hero-text h3 {
    font-size: 130%;
    padding-top: 10px;
}

#hero-image {
    height: 600px;
    background: url("../images/hero-image.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-text {
    font-family: "Roboto", sans-serif;
    /* font-size: 120%; */
    text-align: center;
    letter-spacing: 2px;
    color: white;
    
    width: 400px;
    height: 250px;

    padding: 30px 20px;

    background-color: rgba(33, 35, 36, .7);
    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;

    position: absolute;
}

/* About section */

#about-section {
    height: 400px;
}

#lets-do-this {
    text-align: center;
    font-size: 200%;
    margin: 30px 0;
}

#about-headings-outer {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#left-about-heading {
    float: left;
    width: 50%;
    line-height: 22px;
    padding-bottom: 30px;
}

#right-about-heading {
    float: right;
    width: 50%;
    line-height: 22px;
    padding-bottom: 30px;
}

#left-about-heading p, #right-about-heading p {
    width: 240px;
    margin: 0 auto;
    padding-top: 10px;
}

#about-headings-outer i {
    font-size: 150%;
    padding-bottom: 10px;
}

/* Content navigation section */

#content-navigation-section {
    height: 400px;
    background-color: rgba(33, 35, 36, .2);
    clear: both;
}

#shortcuts-and-commands {
    text-align: center;
    font-size: 200%;
    padding-top: 30px;
}

